<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TEST</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css.scss">
    <script type="text/javascript" src="../../vendor/assets/bower_components/paper/dist/paper-full.js"></script>
    <script type="text/paperscript" src="../assets/javascripts/test.js" canvas="canvas"></script>
</head>
<body>
<canvas id="canvas" resize stats hidpi="off" style="border:1px solid #000000;"></canvas>
<!--<canvas id="canvas" stats hidpi="off" width="1000" height="700" style="border:1px solid #000000;"></canvas>-->
</body>
</html>
